*{
    font-family: Poppins;
    box-sizing: border-box;
}

.f-header {
    height: 50px;
    background-color: #ce0505;
}

.f-logo {
    display: inline-block;
    text-align: center;
    width: 55px;
    height: 55px;
    font-size: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    color: #eb2929 ;
    margin-left: 2%;
}

.login {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
}

.register {
    display: inline-block;
    margin: 10px ;
    border: solid 1px #ffffff;
    padding: 2px;
    color: #ffffff;
}

.f-main-bg{
    background-color: #fbfbfb;
}

.f-main-heading{
    font-size: 40px;
    font-weight: bolder;
    color: #0d307b;
    text-align: center;
}

.f-filter-block{
    display: inline-block;
    left: 50%;
    width: 260px;
    height: 682px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border: 1px solid black;
    margin-right: 20px;
    margin-left: 80px;
}

.f-filter-heading {
    display: inline-block;
    font: 14px/21px Poppins;
    font-weight: bolder;
    font-size: smaller;
    text-align: left;
    letter-spacing: 1px;
    margin-left: 20px;
    opacity: 1;
}

.f-filter-location-heading {
    font: 14px/21px Poppins;
    font-weight: bolder;
    font-size: x-small;
    text-align: left;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-top: -9%;
    opacity: 1;
}

.f-select-option {
    margin-left: 20px;
    margin-top: -50%;
    top: 278px;
    left: 140px;
    width: 208px;
    height: 35px;
    border: 1px solid #8C96AB;
    border-radius: 3px;
    opacity: 1;
}

.f-filter-location-cuisine {
    top: 335px;
    left: 140px;
    margin-left: 20px;
    margin-top: -2%;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;

}

.f-input-type {
    width: 30px;
    height: 30x;
    text-align: left;
    margin-left: 20px;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}

.f-item{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border: 1px solid black;
  height: 290px;
  margin-bottom: 20px;
  padding: 20px;
  left: 50px;

}
.f-images{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}